<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<!-- Void can be the default browser: it claims http/https and HTML documents. -->
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleURLName</key>
			<string>Web site URL</string>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>http</string>
				<string>https</string>
			</array>
		</dict>
	</array>
	<key>CFBundleDocumentTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeName</key>
			<string>HTML document</string>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
			<key>LSHandlerRank</key>
			<string>Default</string>
			<key>LSItemContentTypes</key>
			<array>
				<string>public.html</string>
				<string>public.xhtml</string>
			</array>
		</dict>
	</array>
	<key>NSCameraUsageDescription</key>
	<string>Un site web demande l'accès à la caméra.</string>
	<key>NSMicrophoneUsageDescription</key>
	<string>Un site web demande l'accès au micro.</string>
	<key>NSAudioCaptureUsageDescription</key>
	<string>Pour que le son de vos apps accompagne l'écran que vous partagez dans un appel.</string>
	<key>NSSupportsAutomaticTermination</key>
	<false/>
</dict>
</plist>
